@use '../base/variables' as *;

.section {
    padding: 60px 0;

    &__header {
        text-align: center;
        margin-bottom: 40px;
    }

    &__subtitle {
        color: $color-muted;
        font-size: 1.1rem;
    }
}

.section--overflow {
    .container {
        max-width: none;
        padding: 0;
    }
}
